// Specific CSS for your home-page
.site {
  background-color: #fff8CD;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.page-margin {
  margin-bottom: 50px;
}
