<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fas fa-dragon"></i></a>
    <a href="#"><i class="fas fa-seedling"></i></a>
    <a href="#"><i class="fas fa-paper-plane"></i></a>
  </div>
  <div class="footer-copyright">
    Follow us nowhere, we don't really exist
  </div>
</div>
