.navbar-lewagon {
  justify-content: space-between;
  background: #ff78ae;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item-perso {
  color: white !important;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
