<div class="review-count"><strong>This castle has
  <%= pluralize @castle.reviews.size, "review" %></strong>
</div>

<div class="reviews">
  <% if @castle.reviews.blank? %>
  Be the first to leave a review for <%= @castle.name %>
</div>
<% else %>
<% @castle.reviews.each do |review| %>
<div class="review-card-card">
  <p><%= review.content %></p>
</div>
<% end %>
<% end %>
