<div class="info-window">
<%= cl_image_tag castle.photo, height: 100, width: 220, crop: :fill %>
<h4><%= castle.name %></h4>
<a class="btn-homepage" href="<%= castle_path(castle) %>">See details...</a>
</div>

