<div>
  <h1>Welcome to Royal BNB</h1>
  <p>Come into the castle of your choice</p>


      <%#= cl_image_tag ("zchftnfqqiy3zzzlsswe.jpg") %>
<% @castles.each do |castle| %>
  <div class="card-category"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url('<%= cl_image_path castle.photo, height: 300, width: 400, crop: :fill %>')">
     <strong><h1><%= castle.name%></h1></strong>

       </div>
<% end %>





<%= link_to "For more details", castles_path(@castles) %>

